.User
    width 100%
    height 100%
    background-color #eee
    .head
        text-align center
        color #ffffff
        font-size 18px
        line-height 50px
        font-weight bold
    .user-content
        margin-top 50px
        padding .7rem .6rem 0
        height 100%
        width 100%
        background-size 5rem
        box-sizing border-box
        min-height 100vh
        .user-content-head
            position relative
            height 4.15rem
            margin-bottom 0
            border-bottom 0
            color #333333
            box-shadow none
            background #fff
            display flex
            border-radius 10px 10px 0 0
            border-bottom 1px solid #eee
            .avatar
                position absolute
                left 0.9rem
                top 50%
                width 2.66rem
                height 2.66rem
                transform translateY(-50%)
                display flex
                align-items center
                img 
                    width 2.66rem
                    height 2.66rem
                    border-radius 50%
            .login-up
                margin-left 6rem
                position absolute
                top 0.3rem
                
            .arrow 
                position absolute
                right 1.6rem
                top 38%
        .user-content-container
            border-radius 0 0 10px 10px
            position relative
            overflow hidden
            background #fff
            margin-top 0
            padding-top 10px
            margin-bottom .7rem
            // display flex
            list-style none
            .user-content-list
                // flex 1
                float left
                width 25%
                text-align center
                height 4rem
                box-sizing border-box
                border-left 1px solid #eee
                border-right 1px solid #eee 
                .list-img
                    width 2rem
                    height 2rem
                    margin-left 1rem
                    img 
                        width 100%
                        height 100%
                        
                .four
                    margin-left 1.3rem
        .menu
            position relative
            border-radius 10px
            overflow hidden
            background-color #fff
            box-shadow 0 1px 2px rgba(0,0,0,.1), 0 18px 20px -10px rgba(0,0,0,.03), 0 18px 20px -10px rgba(0,0,0,.03), 0 10px 20px -10px rgba(0,0,0,.03)
            .menu-list
                height 3rem
                line-height 3rem
                font-size 1.1rem
                list-style none
                display flex
                border-bottom 1px solid #eeeeee
                .arrow
                    position absolute
                    right 1.5rem

                   

                
                
                    

