.Home
    width 100%
    height 100%
    .head
        // overflow hidden
        
        .menu
            background url('../../images/fenlei.png') no-repeat 0 0
            background-size cover
            background-origin content-box
            float left
            height 35px
            padding 6px 5px    
            line-height 35px    
            width 35px
        .logo
            background url('../../images/nav-logo.png') no-repeat 0 0
            background-size cover
            height 100%
            margin 0 auto
            width 50px
        .search
            background url('../../images/search2.png') no-repeat 0 0
            background-size cover
            width 35px
            height 35px
            position absolute
            top 0
            right 0   
            margin 6px 5px    
    
    .swiper-container
        position relative
        box-shadow 0 15px 13px rgba(0,0,0,0.1)
        margin-bottom 6px       
        background-color #fff
        overflow hidden
        .swiper-wrapper
            height 9rem
            margin 14px 0 24px
            .swiper-slide
                height 100%
                width 100%
                .img
                    width calc(100% - 1.2rem)
                    height 100%
                    margin auto
                    img 
                        width 100%
                        height 100%
                        border-radius 14px
              
